<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookmark Manager</title>
</head>
<body>

<h1>Bookmarks:</h1>
  <ul>
    <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
    <% end %>
  </ul>

  <p>
  <form action='/create' method="get">
  <button type="submit" name="New Bookmark">New Bookmark</button>
  </form>
  </p>
</body>
</html>
